.body {
    background-image: url("../images/CoinBg.png");
    background-size: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Side Bar */

.sidebar {
    background-color: #242B31;
    height: 900px; width: 5%;
    margin-right: auto; margin-top: 10px;
    margin-left: 1%;
    display: block;
    border-radius: 10px;

}

.Sidebar_Text {
    font-family: Commissioner, sans-serif;
    color: #FFFFFF;
    font-weight: 550;
    margin-top: 1px;
    margin-bottom: 50px;
    text-align: center;
}

/* Images an Icons */

.Icons {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.LogOff_Icon {
    width: 40px;
    height: 40px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 10px;
    margin-top: 100px;
    display: block;
}

.UserPhoto {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Dashboard*/

.Dashboard_Content {
    border-radius: 20px;
    background-color: #B4C8C7;
    height: 900px; width: 1380px;
    margin-top: 10px; margin-bottom: 10px;
    margin-left: 10px;
}

.Swift_Text {
    font-family: Commissioner, sans-serif;
    color: #B4C8C7;
    font-weight: 800;
    line-height: 30px;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 10px;
}

.Pay_Text {
    font-family: Commissioner, sans-serif;
    color: #EDB547;
    font-weight: 800;
    line-height: 1px;
    font-size: 30px;
    margin-left: 20px;
}

.Dashboard_Header {
    background-color: #242B31;
    width: 98%; height: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 1%;
    display: block;
}

.Messages_Tab {
    background-color: #373f46;
    margin-top: 10px;
    height: 900px; width: 20%;
    margin-left: 10px; 
    border-radius: 20px;
}

/* Employee Pay Slip */

/* Button CSS Start */

.Buttons {
    position: relative;
    display: inline-block;
    margin-right: -5px;
}

.EmployeeInfoDropDown {
    margin-top: 20px;
    background-color: #242B31;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px 0px 0px 0px;
    width: 200px; height: 60px;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
}

.EarningsDropDown {
    margin-top: 20px;
    background-color: #242B31;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 250px; height: 60px;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
}

.LogsDropDown {
    margin-top: 20px;
    background-color: #242B31;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 0px 20px 0px 0px;
    width: 250px; height: 60px;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
}


.EmployeeInfoDropDown:hover, .EmployeeInfoDropDown:focus, 
.EarningsDropDown:hover, .EarningsDropDown:focus,
.LogsDropDown:hover, .LogsDropDown:focus {
    background-color: #EDB547;
}

.show {
    display: block;
}

/* Button CSS End */

.Download {
    margin-left: 77%;
    margin-top: 1%;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FEFEFE;
    background-color: #FE654D;
    border: none;
    height: 60px; width: 300px;
    border-radius: 20px;
}

.Employee {
    background-color: #242B31;
    margin-top: -2px;
    height: 80%;
    border-radius: 0px 20px 20px 20px;
    padding-top: 30px;
}

.EmployeeInfo_Window {
    background-color: #9D9D9D;
    margin-left: auto; margin-right: auto;
    width: 97%; height: 97%;
    border-radius: 20px;
    padding-left: 3%;
    padding-top: 2%;
}

/* Employee Info window CSS  */

.EmployeeInfo_Window {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.EmployeePhoto_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Space between photo container and text */
}

.EmployeePhoto {
    height: 250px; 
    width: 250px;
    border-radius: 20px; 
    border: 5px solid #242B31;
}

.EmployeeName_Text {
    margin-top: 10px;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.EmployeeDetails {
    display: flex;
    flex-direction: column;
}

.TextContainer {
    background-color: #858585;
    height: 2%; 
    width: 50%;
    margin-bottom: 10px;
}

.EmployeeInfo_Columns {
    display: flex;
    justify-content: space-between;
}

.EmployeeInfo_Text, .EmployeeInfo_Text2, .EmployeeInfo_Text3 {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 1%;
    font-family: Commissioner, sans-serif;
    font-weight: 800;
    font-size: 21px;
    white-space: nowrap;
}

.EmployeeInfo_Text2 {
    margin-left: 10%;
}

.EmployeeInformation {
    color: #FEFEFE;
    font-family: Commissioner, sans-serif;
    font-weight: 800;
}

/* Messages Window CSS */

.Messages_Tab {
    background-color: #373f46;
    margin-top: 10px;
    height: 900px; width: 27%;
    margin-left: 10px; 
    border-radius: 20px;
}


.Notification_Panel {
    background-color: #B5B2B2;
    height: 600px;
    width: 98%;
    margin-left: auto; margin-right: auto;
    margin-top: 5%; 
    border-radius: 20px;
}

.About_User {
    background-color: #ececec;
    height: 220px;
    width: 98%;
    margin-left: auto; margin-right: auto;
    margin-top: 5%; 
    border-radius: 20px;
    overflow: hidden;
}

.Notification_Text {
    font-size: 50px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
    color: #242B31;
    margin-left: 16%;

}

.Dropdown_Text {
    font-size: 20px;
    font-weight: 700;
    font-family: Commissioner, sans-serif; 
    margin-left: 4%;
}


.Drop_Text {
    height: 50px; width: 70%;
    font-size: 20px;
    font-weight: 700;
    font-family: Commissioner, sans-serif; 
}

.Filter_Dropdown {
    background-color: #ffffff;
    height: 50px; width: 70%;
    border: none; 
    border-radius: 10px;
}

/* Table for notification */

.NotificationTable {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; 
    color: #B5B2B2;
}

.Notif_Text, .Notif_Message {
    border: none;
    padding: 10px;
    text-align: left;
    background-color: #474F56;
    font-size: 20px;
    
}

.Notif_Text {
    background-color: #474F56;
    font-size: 40px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
}

.Notif_Message {
    background-color: #474F56;
    font-size: 24px;
    font-weight: 700;
    border-radius: 0 0 20px 20px;
    font-family: Commissioner, sans-serif;
}


/* End of Table for Notification */

.MessagesTab_Text {
    margin-top: 8%;
}

.About_User_Text {
    margin-top: 2%;
    margin-left: 40%; 
    line-height: 1; 
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 15px;

}

.Position_Text {
    color: #EDB547;
    font-size: 20px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
    margin-left: 40%; 

}

.UserImage {
    height: 80%;
    width: 30%;
    margin-left: 5%;
    margin-top: 4%;
    border: 5px solid #242B31;
    border-radius: 20px;
    float: left;
}

/* End of Messages Window CSS */

/* Pop Up for Chhanging Password */

.Title {
    font-family: 'Commissioner', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-top: 2%;
    margin-left: 9%;
}

.form-popup {
    display: none;
    position: fixed;
    top: 17%;
    left: 35%;
    background-color: #242B31;
    height: 629px;
    width: 550px;
    border-radius: 20px;
}


.form-container {
    padding: 10px;
    background-color: #B4C8C7;
    height: 580px;
    width: 510px;
    margin-left: 3.5%;
    margin-top: 4.5%;
    border-radius: 20px;
}

.UserID, .Message {
    padding: 10px;
    margin-left: 3%;
    margin-top: 2%;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    font-weight: 800;
    width: 92%;
}

.UserID {
    height: 60px;
}

.Message {
    height: 200px;
    resize: none;
    line-height: 1.5;
    overflow-y: auto;
}


.UserID, .Message:focus {
    background-color: #ffffff;
    outline: none;
}


.Note {
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    margin-top: 4%;
    font-size: 16px;
    text-align: center;
    opacity: 80%;
}


.form-container .SubmitButton, .BackButton {
    background-color: #FE654D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom: 10px;
    margin-top: 2%;
    height: 80px;
    width: 220px;
    margin-left: 3%;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.form-container .BackButton {
    background-color: #242B31;
}

