.body {
  background-image: url("../images/CoinBg.png");
  background-size: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Side Bar */

.sidebar {
  background-color: #242B31;
  height: 900px; width: 5%;
  margin-right: auto; margin-top: 10px;
  margin-left: 1%;
  display: block;
  border-radius: 10px;

}

.Sidebar_Text {
  font-family: Commissioner, sans-serif;
  color: #FFFFFF;
  font-weight: 550;
  margin-top: 1px;
  margin-bottom: 50px;
  text-align: center;
}

/* Images an Icons */

.Icons {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.LogOff_Icon {
  width: 40px;
  height: 40px;
  margin-left: auto; margin-right: auto;
  margin-bottom: 10px;
  margin-top: 200px;
  display: block;
}

.UserPhoto {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Dashboard*/

.Dashboard_Content {
  border-radius: 20px;
  background-color: #B4C8C7;
  height: 900px; width: 1380px;
  margin-top: 10px; margin-bottom: 10px;
  margin-left: 10px;
}

.Swift_Text {
  font-family: Commissioner, sans-serif;
  color: #B4C8C7;
  font-weight: 800;
  line-height: 30px;
  font-size: 30px;
  margin-left: 20px;
  padding-top: 10px;
}

.Pay_Text {
  font-family: Commissioner, sans-serif;
  color: #EDB547;
  font-weight: 800;
  line-height: 1px;
  font-size: 30px;
  margin-left: 20px;
}

.Dashboard_Header {
  background-color: #242B31;
  width: 98%; height: 90px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 1%;
  display: block;
}

.Messages_Tab {
  background-color: #373f46;
  margin-top: 10px;
  height: 900px; width: 20%;
  margin-left: 10px; 
  border-radius: 20px;
}
/* End of DashBoard CSS (Gonzales )*/

.top {
  display: flex;
  padding-left: 10px;
}

.h2, h2 {
  padding-top: 52px;
  font-family: Commissioner, sans-serif;
  font-weight: 900;
  font-size: 31px;
  margin-top: 26px;
  color: #242B31;
}

.h3, h3 {
  font-weight: 900;
  color: #1E1E1E;
}

.search {
  padding-top: 86px;
  padding-left: 100px;
  margin-left: 329px;
  }

.sr {
  width: 615px;
  height: 36px;
  border-radius: 6px;
  border-color: #FFFFFF;
  padding: 10px
}

.mid {
  border: solid;
  border-radius: 9px;
  margin-top: 10px;
  height: 677px;
  background-color: #CECECE;
}

.t {
  display: flex;
}

.text {
text-align: center;
font-weight: 800;
width: 500px;
padding-left: 30px;
padding-top: 10px;
font-family: Commissioner, sans-serif;
  color: black;
}

.inside {
  border: solid 1px #7D7D7D;
  border-radius: 12px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background: #7D7D7D;
  padding: 5px;
}



.EmployeePhoto {
  height: 25px;
  width: 25px;
  border: solid 1px white;
  border-radius: 50%;
  background-color: #FEFEFE;


}

/* Messages Window CSS */

.Messages_Tab {
  background-color: #373f46;
  margin-top: 10px;
  height: 900px; width: 27%;
  margin-left: 10px; 
  border-radius: 20px;
}


.Notification_Panel {
  background-color: #B5B2B2;
  height: 600px;
  width: 98%;
  margin-left: auto; margin-right: auto;
  margin-top: 5%; 
  border-radius: 20px;
}

.About_User {
  background-color: #ececec;
  height: 220px;
  width: 98%;
  margin-left: auto; margin-right: auto;
  margin-top: 5%; 
  border-radius: 20px;
  overflow: hidden;
}

.Notification_Text {
  font-size: 50px;
  font-weight: 900;
  font-family: Commissioner, sans-serif;
  color: #242B31;
  margin-left: 16%;

}

.Dropdown_Text {
  font-size: 20px;
  font-weight: 700;
  font-family: Commissioner, sans-serif; 
  margin-left: 4%;
}


.Drop_Text {
  height: 50px; width: 70%;
  font-size: 20px;
  font-weight: 700;
  font-family: Commissioner, sans-serif; 
}

.Filter_Dropdown {
  background-color: #ffffff;
  height: 50px; width: 70%;
  border: none; 
  border-radius: 10px;
}

/* Table for notification */

.NotificationTable {
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto; 
  color: #B5B2B2;
}

.Notif_Text, .Notif_Message {
  border: none;
  padding: 10px;
  text-align: left;
  background-color: #474F56;
  font-size: 20px;
  
}

.Notif_Text {
  background-color: #474F56;
  font-size: 40px;
  border-radius: 20px 20px 0 0;
  padding-bottom: 5px;
  font-weight: 900;
  font-family: Commissioner, sans-serif;
}

.Notif_Message {
  background-color: #474F56;
  font-size: 24px;
  font-weight: 700;
  border-radius: 0 0 20px 20px;
  font-family: Commissioner, sans-serif;
}


/* End of Table for Notification */

.MessagesTab_Text {
  margin-top: 8%;
}

.About_User_Text {
  margin-top: 2%;
  margin-left: 40%; 
  line-height: 1; 
  font-family: Commissioner, sans-serif;
  font-weight: 900;
  font-size: 15px;

}

.Position_Text {
  color: #EDB547;
  font-size: 20px;
  font-weight: 900;
  font-family: Commissioner, sans-serif;
  margin-left: 40%; 

}

.UserImage {
  height: 80%;
  width: 30%;
  margin-left: 5%;
  margin-top: 4%;
  border: 5px solid #242B31;
  border-radius: 20px;
  float: left;
}

/* End of Messages Window CSS */


