.body {
    background-image: url("../images/CoinBg.png");
    background-size: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* Side Bar */

.sidebar {
    background-color: #242B31;
    height: 900px; width: 5%;
    margin-right: auto; margin-top: 10px;
    margin-left: 1%;
    display: block;
    border-radius: 10px;

}

.Sidebar_Text {
    font-family: Commissioner, sans-serif;
    color: #FFFFFF;
    font-weight: 550;
    margin-top: 1px;
    margin-bottom: 50px;
    text-align: center;
}

/* Images an Icons */

.Icons {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.LogOff_Icon {
    width: 40px;
    height: 40px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 10px;
    margin-top: 100px;
    display: block;
}

.UserPhoto {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Dashboard*/

.Dashboard_Content {
    border-radius: 20px;
    background-color: #B4C8C7;
    height: 900px; width: 1380px;
    margin-top: 10px; margin-bottom: 10px;
    margin-left: 10px;
}

/* Header */ 

.Dashboard_Header {
    background-color: #242B31;
    width: 98%;
    height: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.HeaderText {
    padding-bottom: .5%;
}

.Swift_Text {
    font-family: Commissioner, sans-serif;
    color: #B4C8C7;
    font-weight: 800;
    line-height: 30px;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.Pay_Text {
    font-family: Commissioner, sans-serif;
    color: #EDB547;
    font-weight: 800;
    line-height: 1;
    font-size: 30px;
    margin: 0; 
}

.watch {
    
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-right: 1%;
    background-color: #F0F0F0;
    height: 70%; width: 8%;
    border: 2px solid #2b2929;
    border-radius: 10px;
}

/* clock header */

.watch {
    display: inline-block;
    margin-right: 1%; 
}

.timer {
    font-size: 30px;
    padding-left: 10%; padding-top: 5%;
    font-family: Commissioner, sans-serif;
    color: #242B31; 

}

#clocktime {
    font-weight: 900;
}

/* End Header */

.Messages_Tab {
    background-color: #373f46;
    margin-top: 10px;
    height: 900px; width: 27%;
    margin-left: 10px; 
    border-radius: 20px;
}

/* Start Dashboard Code */

.AccountGreeting {
    background-color: #242B31;
    height: 20%;
    width: 98%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.Dashboard_Text {
    color: #B4C8C7;
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 70px;
    padding-left: 2%;
}

.Employee {
    color: #EDB547;
    line-height: 1px;
}

.Main_Container {
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.Image_Carousel {
    flex: 1;
    margin-right: 2%;
}

.Image {
    height: 650px;
    width: 600px;
    border: 6px solid #242B31;
    border-radius: 20px;
}


/* Calendar widget start */ 

.Calendar_Container {
    background-color: #242B31;
    flex: 0 0 50%;
    height: 60%;
    border: 6px solid #242B31;
    border-radius: 20px;
    
    
}

.calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #242B31;
    color: white;
}

.calendar-header .month-year {
    display: flex;
    align-items: center;
}

.calendar-header .month,
.calendar-header .year {
    margin: 0 10px;
    font-size: 30px;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.day-names,
.days {
    display: flex;
    flex-wrap: wrap;
}

.day-names .day,
.days .day {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    font-family: Commissioner, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.day-names .day {
    background-color: #f0f0f0;
    font-weight: bold;
}

.days .day {
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}

.days .day:hover {
    background-color: #B5B2B2;
}

.current-day {
    background-color: #EDB547;
}

/* End Calendar widget */ 

/* Start Clock widget */

.Clock_Container {
    margin-top: 2%;
    background-color: #373f46;
    flex: 0 0 38%;
    border-radius: 20px;
    border: 6px solid #242B31;
}

.background {
    background-color: #EDB547;
    margin-top: 2%;
    width: 70%;
    margin-left: auto; margin-right: auto;
    text-align: center;
    padding-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0px 10px 5px #2b2929;
}

.Main_Container {
    display: flex;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.clock {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2b2929;
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 70px;

}

.time {
    font-size: 90px;
    margin-bottom: 10px;
}

.date {
    font-size: 24px;
    color: #2b2929;
}


.Image_Carousel {
    flex: 1;
    margin-right: 2%;
}

.Right_Side_Container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

/* End Clock widget */
/* End Dashboard Code */

/* Messages Window CSS */

.Notification_Panel {
    background-color: #B5B2B2;
    height: 600px;
    width: 98%;
    margin-left: auto; margin-right: auto;
    margin-top: 5%; 
    border-radius: 20px;
}

.About_User {
    background-color: #ececec;
    height: 220px;
    width: 98%;
    margin-left: auto; margin-right: auto;
    margin-top: 5%; 
    border-radius: 20px;
    overflow: hidden;
}

.Notification_Text {
    font-size: 50px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
    color: #242B31;
    margin-left: 16%;

}

.Dropdown_Text {
    font-size: 20px;
    font-weight: 700;
    font-family: Commissioner, sans-serif; 
    margin-left: 4%;
}


.Drop_Text {
    height: 50px; width: 70%;
    font-size: 20px;
    font-weight: 700;
    font-family: Commissioner, sans-serif; 
}

.Filter_Dropdown {
    background-color: #ffffff;
    height: 50px; width: 70%;
    border: none; 
    border-radius: 10px;
}

/* Table for notification */

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; 
    color: #B5B2B2;
}

th, td {
    border: none;
    padding: 10px;
    text-align: left;
    background-color: #474F56;
    font-size: 20px;
    
}

th {
    background-color: #474F56;
    font-size: 40px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
}

td {
    background-color: #474F56;
    font-size: 24px;
    font-weight: 700;
    border-radius: 0 0 20px 20px;
    font-family: Commissioner, sans-serif;
}

/* End of Table for Notification */

.MessagesTab_Text {
    margin-top: 8%;
}

.About_User_Text {
    margin-top: 2%;
    margin-left: 40%; 
    line-height: 1; 
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 15px;

}

.Position_Text {
    color: #EDB547;
    font-size: 20px;
    font-weight: 900;
    font-family: Commissioner, sans-serif;
    margin-left: 40%; 

}

.UserImage {
    height: 80%;
    width: 30%;
    margin-left: 5%;
    margin-top: 4%;
    border: 5px solid #242B31;
    border-radius: 20px;
    float: left;
}

/* End of Messages Window CSS */

