body {
    background-image: url("../images/CoinBg.png");
    background-size: 600px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Whole_Window {
    margin-top: 1%;
    background-color: #242B31;
    border-radius: 20px;
    display: flex;
    width: 1440px;
    height: 1000px;
}

.image-container {
    flex: 1;
}

.SlideShow {
    height: 1000px;
    width: 620px;
    border-radius: 20px;
    margin-left: -14px;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

/* Text */

.Text_Container {
    text-align: center;
    margin-top: 5%;
    margin-right: 10%;
}

.Swift_Text, .Pay_Text, .Tagline {
    font-family: 'Commissioner', sans-serif;
    font-weight: 900;
}

.Swift_Text {
    display: inline;
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: #B4C8C7;
}

.Pay_Text {
    display: inline;
    font-family: Commissioner, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: #EDB547;
}

.Tagline {
    font-family: Commissioner, sans-serif;
    font-weight: 800;
    color: #EDB547;
    line-height: 1px;
    font-size: 20px;
}

/* Log In Container */

.LogIn_Box {
    background-color: #B4C8C7;
    padding: 20px;
    height: 500px;
    width: 650px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_UserID, .input {
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    height: 68px;
    width: 521px;
    padding-left: 10px;
}

.input_UserID {
    margin-top: 30px;
}

::placeholder {
    color: #828282;
    font-family: 'Commissioner', sans-serif;
    opacity: 70%;
    font-size: 15;
}

input[type="checkbox"] {
    margin-top: 30px;
}


.Text {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    color: #FEFEFE;
    margin-left: 10px;
    font-size: 20px;
}

.Forgot_Password_Link {
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: 800;
    color: #FEFEFE;
    margin-left: 180px;
    font-size: 20px;
}

.LogIn_Button {
    border: none;
    font-family: 'Commissioner', sans-serif;
    color: #FEFEFE;
    background-color: #FE654D;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 18%;
    font-weight: 700;
    font-size: 20px;
    height: 70px;
    width: 325px;
}

/* Footer */

.Text_Container_for_Link {
    text-align: center;
    padding-bottom: 20px;
}

.Swift_Text_Footer, .Pay_Text_Footer {
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}

.Swift_Text_Footer {
    color: #B4C8C7;
}

.Pay_Text_Footer {
    color: #EDB547;
}

.AboutUs_Link {
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: 800;
    color: #B4C8C7;
}



/* Try Pop Up */


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 40%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}